<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/mod.css">
</head>
<body>
    
    <form action="/login/pro" method="POST" id="form">
       <div class="gg-bt">
            <div class="form">
            <h1>Iniciar Sesion</h1>
        <div class="grupo">
            <input type="email" name="correo" id="correo" required><span class="barraS"></span>
            <label for="">Email</label>
        </div>
        <div class="grupo">
            <input type="password" name="clave" id="clave" required><span class="barraS"></span>
            <label for="">Password</label>
        </div>
        <button type="submit" class="btn"> <a href="/home" style="text-decoration:none">Iniciar</a> </button>
        </div>
        <p>¿No estas registrado? <a href="/" style="text-decoration:none" class="link">Registrate</a></p>
     </div>
    </form>
    
</body>
</html>