<%- include("header.ejs") %> 
	<header>
        <div class="container">
    <h2 class="logo">STELLE DELLA FILM</h2>

            <nav>
                <a href="/home" >Inicio</a>
                <a href="#" class="activo">Peliculas</a>
                <a href="/api">Más</a>
                <a href="/perfil">Perfil</a>
            </nav>
        </div>
</header>

<main>
	<div class="populares container">
		<div class="titulo-p">
			<h3>Acción</h3>
		</div>
		
		<div class="container-prin">

			
			<div class="container-carousel">
				<div class="carousel">
					
					<div class="peli">
						<a href="#"> <img src="./img/ac1.jpg" alt=""> </a>
					</div>
					<div class="peli">
						<a href="#"> <img src="./img/ac2.jpg" alt=""> </a>
							</div>
							<div class="peli">
								<a href="#"> <img src="./img/ac3.jpg" alt=""> </a>
							</div>
							<div class="peli"> 
								<a href="#"><img src="./img/ac4.jpg" alt=""> </a>
							</div>
							<div class="peli">
								<a href="#"> <img src="./img/ac5.jpg" alt=""> </a>
							</div>
						</div>
				</div>
			</div>
			
		</div>


		<div class="populares container">
			<div class="titulo-p">
				<h3>Drama</h3>
			</div>
	
			<div class="container-prin">
				<div class="container-carousel">
					<div class="carousel">
						<div class="peli">
							<a href="#"> <img src="./img/dr1.jpg" alt=""> </a>
						</div>
						<div class="peli">
							<a href="#"> <img src="./img/dr6.jpg" alt=""> </a>
								</div>
								<div class="peli">
									<a href="#"> <img src="./img/dr4.jpg" alt=""> </a>
								</div>
								<div class="peli"> 
									<a href="#"><img src="./img/dr3.jpg" alt=""> </a>
								</div>
								<div class="peli">
									<a href="#"> <img src="./img/dr5.jpg" alt=""> </a>
								</div>
							</div>
					</div>
				</div>
			</div>


			<div class="populares container">
				<div class="titulo-p">
					<h3>Terror</h3>
				</div>
		
				<div class="container-prin">
					<div class="container-carousel">
						<div class="carousel">
							<div class="peli">
								<a href="#"> <img src="./img/ter1.jpg" alt=""> </a>
							</div>
							<div class="peli">
								<a href="#"> <img src="./img/ter2.jpg" alt=""> </a>
									</div>
									<div class="peli">
										<a href="#"> <img src="./img/ter3.jpg" alt=""> </a>
									</div>
									<div class="peli"> 
										<a href="#"><img src="./img/ter4.jpg" alt=""> </a>
									</div>
									<div class="peli">
										<a href="#"> <img src="./img/ter5.jpg" alt=""> </a>
									</div>
								</div>
						</div>
					</div>
				</div>


				<div class="populares container">
					<div class="titulo-p">
						<h3>Comedia</h3>
					</div>
			
					<div class="container-prin">
						<div class="container-carousel">
							<div class="carousel">
								<div class="peli">
									<a href="#"> <img src="./img/co1.jpg" alt=""> </a>
								</div>
								<div class="peli">
									<a href="#"> <img src="./img/co2.jpg" alt=""> </a>
										</div>
										<div class="peli">
											<a href="#"> <img src="./img/co3.jpg" alt=""> </a>
										</div>
										<div class="peli"> 
											<a href="#"><img src="./img/co4.jpg" alt=""> </a>
										</div>
										<div class="peli">
											<a href="#"> <img src="./img/co5.jpg" alt=""> </a>
										</div>
									</div>
							</div>
						</div>
					</div>


					<div class="populares container">
						<div class="titulo-p">
							<h3>Ciencia Ficción</h3>
						</div>
				
						<div class="container-prin">
							<div class="container-carousel">
								<div class="carousel">
									<div class="peli">
										<a href="#"> <img src="./img/ci1.jpg" alt=""> </a>
									</div>
									<div class="peli">
										<a href="#"> <img src="./img/ci2.jpg" alt=""> </a>
											</div>
											<div class="peli">
												<a href="#"> <img src="./img/ci3.jpg" alt=""> </a>
											</div>
											<div class="peli"> 
												<a href="#"><img src="./img/ci4.jpg" alt=""> </a>
											</div>
											<div class="peli">
												<a href="#"> <img src="./img/ci5.jpg" alt=""> </a>
											</div>
										</div>
								</div>
							</div>
						</div>


						<div class="populares container">
							<div class="titulo-p">
								<h3>Crimen</h3>
							</div>
					
							<div class="container-prin">
								<div class="container-carousel">
									<div class="carousel">
										<div class="peli">
											<a href="#"> <img src="./img/cri1.jpg" alt=""> </a>
										</div>
										<div class="peli">
											<a href="#"> <img src="./img/cri2.jpg" alt=""> </a>
												</div>
												<div class="peli">
													<a href="#"> <img src="./img/cri3.jpg" alt=""> </a>
												</div>
												<div class="peli"> 
													<a href="#"><img src="./img/cri4.jpg" alt=""> </a>
												</div>
												<div class="peli">
													<a href="#"> <img src="./img/cri5.jpg" alt=""> </a>
												</div>
											</div>
									</div>
								</div>
							</div>


							<div class="populares container">
								<div class="titulo-p">
									<h3>Aventura</h3>
								</div>
						
								<div class="container-prin">
									<div class="container-carousel">
										<div class="carousel">
											<div class="peli">
												<a href="#"> <img src="./img/av1.jpg" alt=""> </a>
											</div>
											<div class="peli">
												<a href="#"> <img src="./img/av2.jpg" alt=""> </a>
													</div>
													<div class="peli">
														<a href="#"> <img src="./img/av3.jpg" alt=""> </a>
													</div>
													<div class="peli"> 
														<a href="#"><img src="./img/av4.jpg" alt=""> </a>
													</div>
													<div class="peli">
														<a href="#"> <img src="./img/av5.jpg" alt=""> </a>
													</div>
												</div>
										</div>
									</div>
								</div>
		</main>		
</body>
<script src="./js/peli.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="./js/so.js"></script>
</html>