<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Film</title>
		<link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <header>
			<div class="container">
        <h2 class="logo">STELLE DELLA FILM</h2>

				<nav>
					<a href="#" class="activo">Inicio</a>
					<a href="#">Peliculas</a>
					<a href="#">Mas Recientes</a>
					<a href="#">Perfil</a>
				</nav>
			</div>
    </header>

		<main>
			<div class="cine">
				<div class="container">
					<h3 class="titulo">Titulo</h3>
					<p class="contenido">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur quo, adipisci exercitationem maiores eligendi ratione possimus iusto vitae facilis tenetur molestias eum voluptas modi cumque tempora porro similique inventore culpa.</p>
					<button role="button" class="btn"> <i class="fas fa-play"></i> Reproduir</button>
					<button role="button" class="btn"> <i class="fas fa-info-circle"></i> Mas Informacion</button>
				</div>
			</div>

			<div class="populares container">
				<div class="titulo-p">
					<h3>Populares</h3>
					<div class="indicadores"></div>
				</div>

				<div class="container-prin">
					<button role="button" id="flecha-iz" class="flecha-iz"><i class="fas fa-solid fa-angle-left"></i></button>

					<div class="container-carousel">
						<div class="carousel">
							<div class="peli">
								<a href="#"> <img src="./img/avatar.jpg" alt=""> </a>
							</div>
							<div class="peli">
								<a href="#"> <img src="./img/boyka.jpg" alt=""> </a>
							</div>
							<div class="peli">
								<a href="#"> <img src="./img/maquina.jpg" alt=""> </a>
							</div>
							<div class="peli"> 
								<a href="#"><img src="./img/she.jpg" alt=""> </a>
							</div>
							<div class="peli">
								<a href="#"> <img src="./img/bestia.jpg" alt=""> </a>
							</div>
							<div class="peli">
								<a href="#"> <img src="./img/demon.jpg" alt=""> </a>
							</div>
							<div class="peli">
								<a href="#"> <img src="./img/down.jpg" alt=""> </a>
							</div>
							<div class="peli">
								<a href="#"> <img src="./img/hocus.jpg" alt=""> </a>
							</div>
							<div class="peli">
								<a href="#"> <img src="./img/kenobi.jpg" alt=""> </a>
							</div>
							<div class="peli"> 
								<a href="#"><img src="./img/jujutsu.jpg" alt=""></a> 
							</div>
							<div class="peli"> 
								<a href="#"><img src="./img/morbius.jpg" alt=""></a> 
							</div>
							<div class="peli"> 
								<a href="#"><img src="./img/nemesis.jpg" alt=""></a> 
							</div>
							<div class="peli">
							<a href="#"> <img src="./img/lou.jpg" alt=""> </a>
						</div>
						<div class="peli">
							<a href="#"><img src="./img/huerfana.jpg" alt=""></a>
						</div>
					  <div class="peli">
							<a href="#"><img src="./img/presencias.jpg" alt=""></a>
						</div>
						<div class="peli">
							<a href="#"><img src="./img/full.jpg" alt=""></a>
						</div>
						<div class="peli">
							<a href="#"><img src="./img/athena.jpg" alt=""></a>
						</div>
						<div class="peli">
							<a href="#"><img src="./img/dahmer.jpg" alt=""></a>
						</div>
						<div class="peli">
							<a href="#"><img src="./img/nope.jpg" alt=""></a>
						</div>
						<div class="peli">
							<a href="#"><img src="./img/god.jpg" alt=""></a>
						</div>
						<div class="peli">
							<a href="#"><img src="./img/memory.jpg" alt=""></a>
						</div>
						<div class="peli">
							<a href="#"><img src="./img/venom.jpg" alt=""></a>
						</div>
						<div class="peli">
							<a href="#"><img src="./img/adam.jpg" alt=""></a>
						</div>
						<div class="peli">
							<a href="#"><img src="./img/one.jpg" alt=""></a>
						</div>
						</div>
					<button role="button" id="flecha-de" class="flecha-de"><i class="fas fa-solid fa-angle-right"></i></button>
				</div>
			</div>
		</main>
</body>
<script src="https://kit.fontawesome.com/2c36e9b7b1.js" crossorigin="anonymous"></script>
<script src="./js/main.js"></script>
</html>