<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Perfil</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
	<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
	<link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <header>
			<div class="container">
				<h2 class="logo">STELLE DELLA FILM</h2>

				<nav>
					<a href="/home" >Inicio</a>
					<a href="/film">Peliculas</a>
					<a href="#">Mas Recientes</a>
					<a href="#" class="activo">Perfil</a>
			</nav>
	</div>
		</header>

		<main>
			<div class="container">
				<a href="" class="btn-user" style="text-decoration:none"><i class='bx bx-plus-circle bx-sm'></i></a>

				<table>
					<thead>
						<tr class="text-white">
							<th scope="col">Nombre</th>
							<th scope="col">Correo</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Nombre</td>
							<td>Correo</td>
							<td>Acciones</td>
							<td>
								<a href="/edit" class="btn btn-outline-info"></a>
								<a href="/delete" class="btn btn-outline-info"></a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</main>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
</html>