<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/mod.css">
</head>
<body>
    
    <form action="/register/pro" method="POST" id="form">
       <div class="gg-bt">
            <div class="form">
            <h1>Registro</h1>
        <div class="grupo">
            <input type="text" name="name" id="name" required><span class="barraS"></span>
            <label for="">Nombre</label>
        </div>
        <div class="grupo">
            <input type="email" name="email" id="email" required><span class="barraS"></span>
            <label for="">Correo</label>
        </div>
        <div class="grupo">
            <input type="password" name="password" id="password" required><span class="barraS"></span>
            <label for="">Clave</label>
        </div>
        <button type="submit" class="btn"> <a href="/login" style="text-decoration:none">Registrate</a> </button>
        </div>
        <p>¿Ya tienes una cuenta? <a href="/login" style="text-decoration:none" class="link">Inicar Sesión</a> </p>
        <p>¿Quieres ingresar como <a href="/home" style="text-decoration:none" class="link">Invitado</a>?</p> 
     </div>
    </form>
    
</body>
</html>